<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
    <script type="text/javascript" src="/richtexteditor/rte.js"></script>
    <script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>
    <link rel="stylesheet" href="~/css/site.css">
    <title>Create New Blog</title>
</head>

<body>
    <div class="container-fluid p-2">
        <div class="create-new-blog-text mb-5">Create a new blog!</div>

        <div id="div_editor1">
            <p>This is a default toolbar demo of Rich text editor.</p>
            <p><img src='/images/function-graph.png' /></p>
        </div>
    </div>

    
</body>

<script>
    var editor1 = new RichTextEditor("#div_editor1");
    //editor1.setHTMLCode("Use inline HTML or setHTMLCode to init the default content.");
</script>

</html>