html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logout-text {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.modal-body img {
  height: 60px;
  width: 60px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #106be2;
  font-weight: bold;
}

.BlogListContainer {
  margin-top: 80px;
}

.create-new-blog-text {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #106be2;
  font-weight: bold;
}