@{
    ViewData["Title"] = "403 Error";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/error.css"/>
</head>

<body>
    <div class="container d-flex flex-column align-items-center vh-100">

        <h1 class="error-title">403</h1>

        <h4 class="not-found">This action is forbidden!</h4>

        <h5 class="not-found-text">You do not have permission to access this page!</h5>
    </div>
</body>