@{
    ViewData["Title"] = "404 Error";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/error.css"/>
</head>

<body>
    <div class="container d-flex flex-column align-items-center vh-100">

        <h1 class="error-title">404</h1>

        <h4 class="not-found">Page Not Found</h4>

        <h5 class="not-found-text">Oops, the page you are looking for isn't here.</h5>
    </div>
</body>